body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
}

.main {
    display: grid;
    width: 1030px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 62px;
    grid-row-gap: 17px;
}

.our-mail,
.our-number {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    /* or 100% */
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;

}

.main img {
    width: 320px;
    height: auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.card_image {
    position: relative;
    overflow: hidden;
}

.card:hover .card_popup {
    transform: translateY(0);
}

.card_popup {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: #F26522;
    transform: translate(0, 100%);
    transition: all .4s ease-in-out;
    padding: 7px 16px;
}

.card span {

    margin: 20px 0;
}

.our-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-end;
}

.header {
    display: flex;
    width: 1141px;
    justify-content: space-between;
}

.header_wrapper {
    display: flex;
    margin-bottom: 22px;
}

.header-title {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.p-footer {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 49px;
    margin-right: 513px;
    margin-left: 555px;

}

.header_wrapper:hover .header-title > a > h2 {
    color: #F26522;
}

body a {
    text-decoration: none;
}

.our-mail:hover {
    color: #F26522;
}

.our-number:hover {
    color: #F26522;
}

.header {
    margin-top: 51px;
}

.header-logo {
    width: 53px;
    height: 47px;
    background-image: url("../img/svg1.svg");
    margin-left: 55px;
}

.header_wrapper:hover .header-logo {
    background-image: url("../img/svg2.svg");
}


.card-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    margin-right: 37px;
    margin-top: 21px;
}

.card-wrapper a {
    color: white;
    padding-right: 15px;
}

.nav-cursor {
    width: 7px;
    height: 7px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    transform: rotate(-45deg);
    margin-top: 3px;

}

.card:hover .name-tours {
    color: #F26522;
}
.card-span1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}
.name-tours{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.card-span2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;

}
.card-decription{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;

}